<form class="new-user-register">
  <fieldset>
    <label for="first-name">
      First Name:
      <input type="text" />
    </label>
    <br />
    <label for="last-name">
      Last Name:
      <input type="text" />
    </label>
    <br />
    <label for="email">
      Email:
      <input type="email" />
    </label>
    <br />
    <label for="password">
      Password: Password:
      <input type="password" />
    </label>
    <br />
    <label for="password">
      Confirm Password: Password:
      <input type="password" />
    </label>
  </fieldset>
  <button
</form>
